<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
            <link rel="stylesheet" href="/assets/css/menu_mobile.css">
    <link rel="stylesheet" href="/assets/css/portefolio_style.css">
    <link rel="stylesheet" href="/assets/css/jquery.sweet-modal.css">
        <link rel="stylesheet" href="/assets/css/jquery-ui.min.css">



    <script type="text/javascript" src="/assets/js/jquery-3.2.1.min.js"></script>

    <title>Portefolio</title>
</head>

<body>
    <div id='cssmenu'>

    </div>

    <% include ./pages/home %>

    <footer class="block-footer">
        <div class="container_footer">
            <a href="https://github.com/Hylree"><img src="/assets/img/github-icon.svg" alt="Lien GitHub"/></a>
            <a href="https://www.linkedin.com/feed/?trk=onboarding-landing"><img src="/assets/img/linkedin-icon.svg" alt="Lien GitHub"/></a>
        </div>
        <p>Portfolio BTS SIO 2018 option SLAM - Réalisé par Valentin Magnant - © Valentin Magnant 2018</p>
    </footer>
    <script src="/res/mixitup/dist/mixitup.min.js"></script> 
    <script type="text/javascript" src="/assets/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-toolkit.min.js"></script>
    <script type="text/javascript" src="/assets/js/script.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.sweet-modal.js"></script>
    <script type="text/javascript" src="/assets/js/popper.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
</body>
</html>