    <section id="banner" class="menu_scroll">
        <div class="header">
            <div id="header1" class="box">
                <div class="header-wrap-banner">
                    <div class="header-banner">
                        <h3 class="light white">PORTFOLIO</h3>
                        <h1 class="light white">MAGNANT Valentin</h1>
                    </div>

                    <link href="https://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
                    <div class="container_desc">
                        <h1>
                        <span
                            class="txt-rotate"
                            data-period="2000"
                            data-rotate='[ "Développement", "WebDesign", "Design", "Systèmes", "Réseaux"]'></span>
                        </h1>
                    </div>
                    <div class="container container_user">
                        <div class="row">
                            <div class="col-md-6 hoverimg01">
                                <img src="/assets/img/personne.jpg" class="image_carre"></img>
                            </div>

                            
                            <div class="col-md-6">
                                <div class="container_card">

                                    <h5 class="black">Magnant Valentin</h5>
                                    <h6 class="black muted">20/12/1993 (24 ans)</h6>
                                    <h6 class="black muted">BTS SIO SLAM (Alternance)</h6>
                                    <h6 class="black muted">Ecole: Dijon Formation</h6>
                                    <h6 class="black muted">Entreprise: SNCF</h6>
                                
                                </div>

                            </div>
                        </div>
                    
                    </div>

                    <div class="container container_proj_pro">
                        <img src="/assets/img/quotation-mark.png"></img>
                        <p class="white muted">Actuellement en BTS SIO option SLAM, je souhaiterai à terme travailler dans le développement. Je m'interresse au développement Android et les applications web.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    <section id="infos" class="menu_scroll">
    
        <div class="header-wrap view-click-infos locked-bottom">
            <h2 class="header1"> Mes informations </h2>
        </div>

        <h4 class="black center title-categories "> Mon parcours professionnelles </h4>
        <div class="container">
            <div id="jalousies" class="row hover_bleu">
                <div class="col-md-3">
                    <h5 class="black">08-2014 / 04-2015</h5>   
                </div>
                <div class="col-md-9">
                    <p class="black muted">Responsable "remplaçant" d'un magasin de prêt-à-porter (<strong>Entreprise familiale</strong>)</p>
                    <h5 class="black">Missions:</h5>
                    <p>Création et gestion du site internet (plus en ligne aujourd'hui) avec e-monsite.com, gestion administratif(facture, fideilisation client, gestion fournisseurs, gestion des ressources interne).</p>
                </div>
            </div>
                <div id="bowling" class="row hover_bleu">
                    <div class="col-md-3">
                        <h5 class="black">2011 / 2013</h5>   
                    </div>
                    <div class="col-md-9">
                        <p>Barman / Serveur</p>
                    </div>
                </div>

                  <div id="contact_electronics" class="row hover_bleu">
                    <div class="col-md-3">
                        <h5 class="black">2011 / 2013</h5>   
                    </div>
                    <div class="col-md-9">
                        <p>Emplois saisonnier et stages</p>
                        <p>CONTACT Electronics</p>
                        <ul>
                            <li>2 stages : 6 semaines et 5 semaines</li>
                            <li>Emplois saisonniers : 2x2 mois pour 2 étés en 2 ans</li>
                        </ul>
                        <h5 class="black">Missions:</h5>
                        <p>Service en salle / acceuil client / préparation des menus / Barman</p>
                    </div>
                </div>

                 <div id="" class="row hover_bleu">
                    <div class="col-md-3">
                        <h5 class="black">2011 / 2013</h5>   
                    </div>
                    <div class="col-md-9">
                        <p></p>
                        <h5 class="black">Missions:</h5>
                        <p>Service en salle / acceuil client / préparation des menus / Barman</p>
                    </div>
                </div>
            
        </div>

        <div class="container-fluid">
        <h4 class="black center title-categories "> Mes Spécialités </h4>
       
            <div class="row">
                <div class="col-md-4">
                    <div class="activiy">
                        <div class="icon-holder">
                            <img src="/assets/img/icon-dev.png" class="icon">
                        </div>
                        <h4 class="heading">En Développement</h4>
                        <div class="description">
                            <p>Les technologies que j'utilise principalement: </p>
                            <p>Android Studio, Laravel, NodeJS, MongoDB, MySQL</p>
                            <p>Bootstrap, materialize-css, ...</p>
                            <a href="https://github.com/Hylree">Mes projects en cours son disponible sur GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="activiy">
                        <div class="icon-holder">
                            <img src="/assets/img/broadcasting.png" class="icon">
                        </div>
                        <h4 class="heading">En Réseaux & Systèmes</h4>
                        <div class="description">
                            <ul>
                                <li>Linux (Unbuntu, mint, PopOS!, gnome) et Windows XP, 7, 8, 8.1, 10</li>
                                <li>Serveur Linux(ubuntu) et Windows</li>
                                <li>GLPI</li>
                                <li>Active directory</li>
                                <li>Terminaux Android et IOS</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="activiy">
                        <div class="icon-holder">
                            <img src="/assets/img/tablette-phone.png" class="icon">
                        </div>
                        <h4 class="heading">En Design</h4>
                        <div class="description">
                        <p>Mon choix se tourne vers les codes de matérial design de google. ils sont simples, efficaces et intuitifs pour l'utilisateur. j'essais d'uiliser ce concept à tout mes projets.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        <section id="exp" class="menu_scroll">
            <div class="header-wrap view-click-exp locked-bottom-1">
                <h2 class="header1"> Mes Maitrises </h2>
            </div>
        <div class="container-langages">
            <div class="container">
            <div class="display-view-langages">
                <div class="row">
                    <div class="col-md-4">
                        <div class="langages card-1">
                            <div class="card-content">
                                <img src='/assets/img/html5.png' class='icon icon-center'>
                                <h5 class="text-center">HTML</h5>
                                
                                <h6 class="text-center">Niveau : Intermédiaire</h6>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4">
                        <div class="langages card-1">
                            <div class="card-content">
                                <img src='/assets/img/css3.png' class='icon icon-center'>
                                <h5 class="text-center">CSS</h5>
                                <h6>Niveau : Intermédiaire</h6>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                    aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="langages card-1">
                            <div class="card-content">
                                <img src="/assets/img/js.png" class='icon icon-center'>
                                <h5 class="text-center">Javascript et ECMAScript</h5>
                                <h6>Niveau : Intermédiaire</h6>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                        <span class="sr-only">70% Complete</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="row ">
                    <div class="col-md-4 ">
                        <div class="langages card-1">
                            <div class="card-content">
                                <img src='/assets/img/android-os.png' class='icon icon-center'>
                                <h5 class="text-center">Java for Android</h5>
                                <h6>Niveau : Avancé</h6>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                    aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                            <div class="langages card-1">
                                <div class="card-content">
                                    <img src='/assets/img/php.png' class='icon icon-center'>
                                    <h5 class="text-center">PHP</h5>
                                    <h6>Niveau : Avancé</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            <span class="sr-only">70% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-4">
                        <div class="langages card-1">
                            <div class="card-content">
                                <img src='/assets/img/nodejs.png' class='icon icon-center'>
                                <h5 class="text-center">NodeJS</h5>
                                    <h6>Niveau : Avancé</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                        aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                            <span class="sr-only">70% Complete</span>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-4 ">
                            <div class="langages card-1">
                                <div class="card-content">
                                    <img src='/assets/img/mongodb.svg' class='icon icon-center'>
                                    <h5 class="text-center">MongoDB</h5>
                                    <h6>Niveau : Intermédiaire</h6>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50"
                                        aria-valuemin="0" aria-valuemax="100" style="width:50%">
                                            <span class="sr-only">50% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-4">
                                <div class="langages card-1">
                                    <div class="card-content">
                                        <img src='/assets/img/mysql.svg' class='icon icon-center'>
                                        <h5 class="text-center">PHP</h5>
                                        <h6>Niveau : Avancé</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                            aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                <span class="sr-only">70% Complete</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
</div>
        <div class="container-design">
                <h4 class="black center title-categories "> Mes Spécialités </h4>
            <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="design card-1 black-background">
                                <div class="card-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <h4 class="white">Matérial design</h4>
                                                <span class="bar-bottom"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container white">
                                        </br>
                                        <p>
                                        Matérial est un ensemble de règles de design porposer par Google s'appliquant à l'interface grafique des applications.
                                        Présenter lors de la conférence Google I/O, ces régles reste jeune.
                                        </br></br>
                                        Le principe se repose sur les mise en pages par grille, des animations et des transitions, effet de profondeur, eclairage, unification des couleurs.</br>
                                        </br>
                                        Ce nouveau concept est basé sur le papier et l'encre.
                                        </br></br>
                                        <h5> Logiciels maitrisés </h5>
                                        <img src='/assets/img/photoshop.png' style='max-width: 100%; height:96px;'>
                                        <img src='/assets/img/illustrator.png' style='max-width: 100%; height:96px;'>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="design card-1">
                                <div class="card-content">
                                    <div class="container">
                                        <img src="/assets/img/material-example.gif" style="max-width: 100%; height:auto;">
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col-md-4 ">
                            <div class="design card-1">
                                <div class="card-content">
                                <div class="container">
                                    <img src='/assets/img/material-icons.gif' style='max-width: 100%; height:auto;'>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="design card-1">
                                <div class="card-content">
                                    <img src='/assets/img/material-website.gif' style='max-width: 100%; height:auto;'>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </section>

    <section id="projet" class="menu_scroll">

            <div class="header-wrap view-click-projets locked-bottom-2">
                <h2 class="header1">Mes Projets</h2>
            </div>
            <div class="container">
                    <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia nihil ipsam dignissimos blanditiis, eum beatae ducimus voluptatum optio ipsa quibusdam laborum aut, at nisi ratione molestiae itaque fugit est harum.</p>
                </div>
    </section>

    <section id="veille" class="menu_scroll">

            <div class="header-wrap view-click-veille locked-bottom-3">
                <h2 class="header1">Ma Veille</h2>
            </div>
            <div class="container">
                <h4 class="black center title-categories "> La mobilité </h4>

                <div class="row">

                        <div class="col-md-4">
                                <div class="design card-1">
                                    <div class="card-content">
                                        <div class="container">
                                            <img src="/assets/img/tel3en1.png" style="max-width: 100%; height:auto;">
                                        </div> 
                                        
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-8">
                                <div class="design card-1 black-background">
                                    <div class="card-content">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <h4 class="white">Sources d'information</h4>
                                                    <span class="bar-bottom"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container white">
                                        </br>
                                        <h5>Pourquoi avoir choisie la mobilité?</h5>
                                        <p>"Le sujet de veille est totalement en lien avec mes missions confiées l'entreprise. Je m'interresse beaucoup aux outils mobiles. selon-moi, il est question de l'avenir."</p>
                                        <p>Les sources utilisé: </p>
                                        <ul>
                                            <li>FlipBoard</li>
                                            <li>Numerama</li>
                                            <li>Feddly</li>
                                            <li>01.net</li>
                                            <li>Korben</li>
                                            <li>YouTube</li>
                                        </ul>

                                        <p>Pour cette veille je me suis tenu au courant des evolutions générales (OS, langages, matériels, ...) dans le domaine. Les technologies qui on retenue mon attention sont les "téléphone 3-en-1" ainsi que les nouveaux ordinateurs portable.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            
                        </div>
                        <div class="row ">
                            <div class="col-md-8">
                                <div class="design card-1">
                                    <div class="card-content">
                                        <img src='/assets/img/20h.jpg' style='max-width: 100%; height:auto;'>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-4 ">
                                    <div class="design card-1">
                                        <div class="card-content">
                                        <div class="container">
                                            <img src='/assets/img/samsung-dex-pad.jpg' style='max-width: 100%; height:auto;'>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
                
    </section>

